<div class="well profile">
    <div class="col-sm-12">
        <div class="col-xs-12 col-sm-8">
            <h2><%= @user.full_name %></h2>
            <p><strong>Phone Number: </strong><%= @user.phone_number %></p>
            <p><strong>Email: </strong><%= @user.email %></p>
            
        <div class="guest information">
            <h4><strong>guest information: </strong></h4>
                <div>
                    <p><span class="tags"><strong>Number of guests:</strong>  <%= @user.number_of_guests %></p>
                    <p><span class="tags"><strong>Event type:</strong>  <%= @user.event_type %></p>
                </div>
        </div>

        <div class="links">
            <p><%= link_to 'search location', properties_path %></p>
        </div>
    </div>             
</div>