<div class="well profile">
    <div class="col-sm-12">
        <div class="col-xs-12 col-sm-8">
            <h2><%= @landlord.username %></h2>
            <p><strong>Phone Number: </strong><%= @landlord.phone_number %></p>
            <p><strong>Email: </strong><%= @landlord.email_address %></p>
            
    
        <div class="links">
            <p><%= link_to 'All properties', landlord_properties_path(@landlord) %></p>
            <p><%= link_to 'Create Property', new_landlord_property_path(@landlord) %></p>
        </div>
    
    </div>             
</div>